<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" routerLink="/landing">
		<img src="assets/images/logoWhite.svg" style="max-width:100%; width:60px;" alt="Sanofi">
	</a>
	<h5 class="h5title">{{title}}</h5>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">

		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/chains/osa">OSA Chains</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/fill-rate/wholesaler">Wholesaler Fill Rate</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/reports/bi">Reports</a>
			</li>

			<li class="nav-item dropdown" routerLinkActive="active">
				<a class="nav-link" routerLink="/testing">TESTING</a>
			</li>

			<li class="nav-item dropdown" routerLinkActive="active">
				<a class="nav-link" routerLink="/leadtime">LeadTime</a>
			</li>

			<!-- <li class="nav-item" routerLinkActive="active">
				<a class="nav-link" href="https://ddpsanofi.azurewebsites.net/" target="_blank">Others</a>
			</li> -->

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" href="https://sanofi.ddpinsights.com/auth_sanofi/bdre/security/login.page" target="_blank">Admin</a>
			</li>

			<!-- <li class="nav-item">
		<a class="nav-link" href="#">Causa Raíz</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Tendências</a>
	  </li> -->
		</ul>
	</div>
</nav>
