.loader-hidden {
    visibility: hidden;
}

.loader-overlay {
  position: relative;
  top: 40px;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 500000;
  background:rgba(0, 0, 0, 0.25);

}

/* Centers horizontally and vertically */
.loader-content  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #ffffff;
}

@media (max-width: 600px)
{
  .loader-overlay {
		top: 30px;
	}
}
