<main role="main">
  <div class="container-fluid">
    <div class="barTitleRespo">
      <h5>Fill Rate & Lead Time</h5>
    </div>

    <!-- <button (click)="updateCharts()">DO MAGIC</button> -->


    <div class="row">
      <div id="barBlock02" class="col-lg-4 col-md-6 mgTop15">
        <div class="boxShadow animated fadeInUp boxShadowMob">
          <div class="barTitle">
            <h4>Atendimento por BU</h4>
          </div>
          <div class="barVerticalBody">
            <app-loader #wholesalerDashByStateLoader id="wholesalerDashByStateLoader"></app-loader>
            <div class="row">
              <div class="col-md-12">
                <canvas id="{{serviceByBuCanvasID}}" height="148"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-8 col-md-6 mgTop15">
        <div class="boxShadow animated fadeInUp">
          <div class="barTitle">
            <h4>Entrada de Pedidos (Últimos 30 dias) - Ano/Mês</h4>
          </div>
          <div id="barBlock03" class="barVerticalBody">
            <app-loader #wholesalerDashByBULoader id="wholesalerDashByBULoader"></app-loader>
            <div class="row">
              <div class="col-md-12 wrapper">
                <canvas id="{{fillrateByDayCanvasID}}" height="70"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!--<div class="col-lg-4 col-md-4 mgTop15">
        <div class="boxShadow animated fadeInUp">
          <div class="barTitle">
            <h4>Fill Rate por BU – mês atual</h4>
          </div>
          <div class="barVerticalBody">
            <app-loader #wholesalerDashReasonsLoader id="wholesalerDashReasonsLoader"></app-loader>
            <div class="row">
              <div class="col-md-12">
                <canvas id="#" height="95"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>-->



    </div>


    <div class="row">


      <div class="col-lg-4 col-md-4 mgTop15">
        <div class="boxShadow animated fadeInUp">
          <div class="barTitle">
            <h4>Status Entrega</h4>
          </div>
          <div id="barBlock03" class="barVerticalBody">
            <app-loader #wholesalerDashByBULoader id="wholesalerDashByBULoader"></app-loader>
            <div class="row">
              <div class="col-md-12 wrapper">
                <canvas id="{{leadtimeByStatusCanvasID}}" height="160"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div id="barBlock02" class="col-lg-4 col-md-4 mgTop15">
        <div class="boxShadow animated fadeInUp boxShadowMob">
          <div class="barTitle">
            <h4>Lead Time – Meses</h4>
          </div>
          <div class="barVerticalBody">
            <app-loader #wholesalerDashByMonthLoader id="wholesalerDashByMonthLoader"></app-loader>
            <div class="row">
              <div class="col-md-12">
                <canvas id="{{leadtimeByMonthCanvasID}}" height="160"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div id="barBlock02" class="col-lg-4 col-md-4 mgTop15">
        <div class="boxShadow animated fadeInUp boxShadowMob">
          <div class="barTitle">
            <h4>Lead Time – Regiões</h4>
          </div>
          <div class="barVerticalBody">
            <app-loader #wholesalerDashByStateLoader id="wholesalerDashByStateLoader"></app-loader>
            <div class="row">
              <div class="col-md-12">
                <canvas id="{{leadtimeByRegionCanvasID}}" height="120"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</main>
