<main role="main">
  <div class="container-fluid">
    <div class="barTitleRespo">
      <h5>TESTING</h5>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="boxShadow animated fadeInLeft boxShadowMob">
          TEST 1
          <div class="barVerticalBody">
            <!-- <app-loader #osaChainsLoader id="osaChainsLoader"></app-loader> -->
            <div class="row">
              <div class="col-md-12">
                <canvas id="testingOne" height="50"></canvas>
                <button (click)="updateChart()"> GO NUTS! </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <button (click)="onUpdate()"> UPDATE </button>
              </div>
              <div class="col-md-4">
                <button (click)="onSubscribe()"> SUBSCRIBE </button>
              </div>
              <div class="col-md-4">
                <button (click)="onSubscribe2()"> SUBSCRIBE2 </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <canvas id="test" height="150"></canvas>

              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <canvas id="sales" height="150"></canvas>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>