<main role="main">
  <div class="container-fluid">
    <div class="barTitleRespo">
      <h5>Wholesaler Fill Rate Tier 1</h5>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="d-flex flex-row bgCardWhole30 animated fadeInLeft">
          <div class="formatValor">
            <span class="valorBar01 bgCardWhole30">
              <app-loader #wholesalerCardBasketLoader id="wholesalerCardBasketLoader"></app-loader>
              {{cesta}}
            </span>
          </div>
          <div class="divValorBar">
            <span class="titleBar01">Basket</span>
          </div>

        </div>
        <div class="d-flex flex-row bgCardWhole60 mgTop15 animated fadeInLeft">
          <div class="formatValor">
            <span class="valorBar01 bgCardWhole60">
              <app-loader #wholesalerCardLauncherLoader id="wholesalerCardLauncherLoader"></app-loader>
              {{rupturaLancamentos}}
            </span>
          </div>
          <div class="divValorBar">
            <span class="titleBar01">New Launches</span>
          </div>
        </div>
        <div class="d-flex flex-row bgCardWhole90 mgTop15 animated fadeInLeft">
          <div class="formatValor">
            <span class="valorBar01 bgCardWhole90">
              <app-loader #wholesalerCardTotalLoader id="wholesalerCardTotalLoader"></app-loader>
              {{geral}}
            </span>
          </div>
          <div class="divValorBar">
            <span class="titleBar01">Total</span>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 mgBarMob">
        <div class="boxShadow animated fadeInRight boxShadowMob">
          <div class="barTitle">
            <h4>Main Customers - Last Month</h4>
          </div>
          <div id="barBlock01" class="barVerticalBody">
            <app-loader #wholesalerDashMainCostumersLoader id="wholesalerDashMainCostumersLoader"></app-loader>
            <div class="row">
              <div class="col-md-12">
                <canvas id="distribuidorFr" height="84"></canvas>
              </div>
            </div>
          </div>
          <div class="slickBoard01" id="slickCustomNV">

            <div *ngFor="let entry of distributors?.content?.data; let i = index;" class="boxBoard01" [ngClass]="getClass(i+1)">
              <div>
                <span>{{entry.key}}</span>
                <span>{{entry.value}}%</span>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="barBlock02" class="col-lg-4 col-md-4 mgTop15">
          <div class="boxShadow animated fadeInUp boxShadowMob">
            <div class="barTitle">
              <h4>By State - Last Month</h4>
            </div>
            <div class="barVerticalBody">
              <app-loader #wholesalerDashByStateLoader id="wholesalerDashByStateLoader"></app-loader>
              <div class="row">
                <div class="col-md-12">
                  <canvas id="ufFr" height="150"></canvas>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-4 mgTop15">
          <div class="boxShadow animated fadeInUp">
            <div class="barTitle">
              <h4>By BU - Latest Months</h4>
            </div>
            <div id="barBlock03" class="barVerticalBody">
              <app-loader #wholesalerDashByBULoader id="wholesalerDashByBULoader"></app-loader>
              <div class="row">
                <div class="col-md-12 wrapper">
                  <canvas id="buFr" height="150"></canvas>
                </div>
              </div>
            </div>
            <div class="slickBoard02" id="slickCustomENSD">

              <div *ngFor="let entry of buSimplified?.content?.data; let i = index;" class="boxBoard01" [ngClass]="getClass(i+1)">
                <div>
                  <span>{{entry.key}}</span>
                  <span>{{entry.value}}%</span>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 mgTop15">
          <div class="boxShadow animated fadeInUp">
            <div class="barTitle">
              <h4>Root Causes - Last Month</h4>
            </div>
            <div class="barVerticalBody">
              <app-loader #wholesalerDashReasonsLoader id="wholesalerDashReasonsLoader"></app-loader>
              <div class="row">
                <div class="col-md-12">
                  <canvas id="statusVendaFr" height="95"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
