<iframe *ngIf="report===1" style="border:0; position: absolute; top: 75px; width:100%; height: 88%;" src="https://app.powerbi.com/view?r=eyJrIjoiZGQyOWFhODQtNWM5NS00MWZkLTg0NTctMjQ4OTc0MWY5YWU3IiwidCI6IjI1OGFjNGU0LTE0NmEtNDExZS05ZGM4LTc5YTllMTJmZDZkYSIsImMiOjEwfQ%3D%3D"> </iframe>
<iframe *ngIf="report===2" style="border:0; position: absolute; top: 75px; width:100%; height: 88%;" src="https://app.powerbi.com/view?r=eyJrIjoiNjY3Yzc5OWUtMjcxMy00YTBmLWFhNGYtYmI2Y2IzYmVkZjE1IiwidCI6IjI1OGFjNGU0LTE0NmEtNDExZS05ZGM4LTc5YTllMTJmZDZkYSIsImMiOjEwfQ%3D%3"> </iframe>
<iframe *ngIf="report===3" style="border:0; position: absolute; top: 75px; width:100%; height: 88%;" src="https://app.powerbi.com/view?r=eyJrIjoiNWQ5NmJkN2QtZDc1MS00NDVkLTgyYmItM2U0MGFiZWMyYjhmIiwidCI6IjI1OGFjNGU0LTE0NmEtNDExZS05ZGM4LTc5YTllMTJmZDZkYSIsImMiOjEwfQ%3D%3D"> </iframe>
<iframe *ngIf="report===4" style="border:0; position: absolute; top: 75px; width:100%; height: 88%;" src="https://app.powerbi.com/view?r=eyJrIjoiMDRkYzJkNmYtM2RkNS00ZjNjLWEwODMtZGFjOGJlOGRmNjAzIiwidCI6IjI1OGFjNGU0LTE0NmEtNDExZS05ZGM4LTc5YTllMTJmZDZkYSIsImMiOjEwfQ%3D%3D"> </iframe>
