<main role="main">
  <div class="container-fluid">
    <div class="barTitleRespo">
      <h5>Osa Chains</h5>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">

        <div class="d-flex flex-row bgCardOsa30 animated fadeInLeft">
          <div class="formatValor">
            <span class="valorBar01 bgCardOsa30">
              <app-loader #chainsCardBasketLoader id="chainsCardBasketLoader"></app-loader>
              {{cestaOSA}}
            </span>
          </div>
          <div class="divValorBar">
              <!-- {{"termination.reason." + reason | translate | capitalizeWords}} -->

            <span class="titleBar01">{{"osa.chains.basket" | translate}}</span>
          </div>
        </div>
        <div class="d-flex flex-row bgCardOsa60 mgTop15 animated fadeInLeft">
          <div class="formatValor">
            <span class="valorBar01 bgCardOsa60">
              <app-loader #chainsCardLauncherLoader id="chainsCardLauncherLoader"></app-loader>
              {{rupturaLancamentosOSA}}
            </span>
          </div>
          <div class="divValorBar">
            <span class="titleBar01">New Launches</span>
          </div>
        </div>
        <div class="d-flex flex-row bgCardOsa90 mgTop15 animated fadeInLeft">
          <div class="formatValor">
            <span class="valorBar01 bgCardOsa90">
              <app-loader #chainsCardTotalLoader id="chainsCardTotalLoader"></app-loader>
              {{geralOSA}}
            </span>
          </div>
          <div class="divValorBar">
            <span class="titleBar01">Total</span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 mgTop15 mgBarMob">
            <div class="boxShadow animated fadeInUp boxShadowMob">
              <div class="barTitle">
                <h4>By BU - Latest Months</h4>
              </div>
              <div id="barBlock03" class="barVerticalBody">
                <app-loader #chainsByBULoader id="chainsByBULoader"></app-loader>
                <div class="row">
                  <div class="col-md-12 wrapper">
                    <canvas id="buOsa" height="150"></canvas>
                  </div>
                </div>
              </div>
              <div class="slickBoard02" id="slickCustomENSD">
                <div *ngFor="let entry of buChainsSimplifiedOSA?.content?.data; let i = index;" class="boxBoard01" [ngClass]="getClass(i+1)">
                  <div>
                    <span>{{entry.key}}</span>
                    <span>{{entry.value}}%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 mgBarMob">
        <div class="row">
          <div id="barBlock03" class="col-sm-12">
            <div class="boxShadow animated fadeInRight boxShadowMob">

              <div class="barTitle">
                <h4>Main Customers - Last Month</h4>
              </div>
              <div id="barBlock01" class="barVerticalBody">
                <app-loader #chainsMainCustomersLoader id="chainsMainCustomersLoader"></app-loader>
                <div class="row">
                  <div class="col-md-12">
                    <canvas id="distribuidorOsa" height="85"></canvas>
                  </div>
                </div>
              </div>
              <div class="slickBoard03" id="slickCustomNV">
                <div *ngFor="let entry of distributorsOSA?.content?.data; let i = index;" class="boxBoard01" [ngClass]="getClass(i+1)">
                  <div>
                    <span>{{entry.key}}</span>
                    <span>{{entry.value}}%</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 mgTop15">
            <div class="boxShadow animated fadeInRight">

              <div class="barTitle">
                <h4>By State - Last Month</h4>
              </div>
              <div class="barVerticalBody">
                <app-loader #chainsByStateLoader id="chainsByStateLoader"></app-loader>
                <div class="row">
                  <div class="col-md-12">
                    <canvas id="ufOsa" height="44"></canvas>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</main>
