<main role="main">
  <div class="container-fluid">
    <div class="barTitleRespo">
      <h5>Main Dashboard</h5>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="boxShadow animated fadeInLeft boxShadowMob">

          <div class="d-flex flex-row bgMainOsa">

            <div class="formatValor">
              <span class="valorBar01 bgMainOsa">
                <app-loader #osaChainsCardsLoader id="osaChainsCardsLoader"></app-loader>
                {{osaTotal}}
              </span>
            </div>
            <div class="divValorBar">
              <a routerLink="/chains/osa"><span class="titleBar01 titleMainOsa">OSA Total</span></a>
            </div>
          </div>
          <div class="barVerticalBody">
            <app-loader #osaChainsLoader id="osaChainsLoader"></app-loader>
            <div class="row">
              <div class="col-md-12">
                <canvas id="osaChains" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mgBarMob">
        <div class="boxShadow animated fadeInRight boxShadowMob">
          <div class="d-flex flex-row bgMainsWhole">
            <div class="formatValor">
              <span class="valorBar01 bgMainsWhole">
                  <app-loader #fillRateCardsLoader id="fillRateCardsLoader"></app-loader>
                  {{fillRateTotal}}
              </span>
            </div>
            <div class="divValorBar">
              <a routerLink="/fill-rate/wholesaler"><span class="titleBar01 titleMainWhole">Wholesaler Fill Rate Total</span></a>
            </div>
          </div>
          <div class="barVerticalBody">
            <div class="row">
              <div class="col-md-12">
                <app-loader #fillRateLoader id="fillRateLoader"></app-loader>
                <canvas id="fillRate" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
